<!DOCTYPE html>
<html>
	<body>
		<h1>Register</h1>

		<form method="POST">
			{{ form.hidden_tag() }}
			<p>{{ form.full_name.label }} {{ form.full_name(size=30) }}</p>
			{% for err in form.full_name.errors %}<span style="color: red"
				>{{ err }}</span
			>{% endfor %}

			<p>{{ form.email.label }} {{ form.email(size=30) }}</p>
			{% for err in form.email.errors %}<span style="color: red"
				>{{ err }}</span
			>{% endfor %}

			<p>{{ form.username.label }} {{ form.username(size=30) }}</p>
			{% for err in form.username.errors %}<span style="color: red"
				>{{ err }}</span
			>{% endfor %}

			<p>{{ form.password.label }} {{ form.password(size=30) }}</p>
			{% for err in form.password.errors %}<span style="color: red"
				>{{ err }}</span
			>{% endfor %}

			<p>
				{{ form.confirm_password.label }} {{
				form.confirm_password(size=30) }}
			</p>
			{% for err in form.confirm_password.errors %}<span
				style="color: red"
				>{{ err }}</span
			>{% endfor %}

			<p>{{ form.submit() }}</p>
		</form>
	</body>
</html>
